service cloud.firestore {
  match /Islands/{island} {
    // Applies to writes to nonexistent documents
    allow create: if req.auth.uid != null;
    
    // Applies to writes to existing documents
    allow update: if req.auth.uid == resource.data.uid;
    
    // Applies to delete operations
    allow delete: if <condition>;
  }
  
}
